.itim {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.bg-cont1{
  background: url("https://res.cloudinary.com/dh26dmbg3/image/upload/v1721299921/Rectangle_48_hhbhby.png");
}
.bg-cont2{
  background: url("https://res.cloudinary.com/dh26dmbg3/image/upload/v1721299920/Rectangle_39_hyxloy.png");
}
.active{
  font-size: large;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}

