@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/backgroung.png");
  background-color: rgb(0, 0, 0);
  color: white;
}
